#title {
  color: blue;
  text-align: center;
}

#login {
  display: block;
  text-align: center;
  /* margin: 50px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 5% 15% 5% 15%;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  margin-left: 25%;
  margin-right: 25%; */
}

/* .hidden {
  display: none;
} */

#taskForm {
  text-align: center;
}

#printName {
  text-align: center;
}

.editButton {
  margin-left: 14px;
}

#delete {
  margin-left: 14px;
  border-radius: 80px;
}

h1 {
  font-size: 45px
}

ul {
  list-style: none;
}
li:before {
content: '📋';
margin-left: -20px;
margin-right: 10px;
}

#outerBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  /* padding: 15px 400px 18px 400px; */
  padding: 5% 15% 5% 15%;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  display: none;
}

#taskList {
  margin: 50px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 80px 18px 80px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  text-align: center;
}
